POSTGRES_USER=app
POSTGRES_PASSWORD=qwe123
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=notificationsdb

KAFKA_BOOTSTRAP_SERVERS=["kafka-0:9094","kafka-1:9095","kafka-2:9096"]
KAFKA_TOPIC=notifications
KAFKA_CONSUMER_USERNAME=kafka-user
KAFKA_CONSUMER_PASSWORD=kafka-pass
KAFKA_CONSUMER_GROUP=group

JWT_PUBLIC_KEY="my_super_secret_key"
