POSTGRES_USER=app
POSTGRES_PASSWORD=
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=notificationsdb

KAFKA_BOOTSTRAP_SERVERS=["kafka-0:9094","kafka-1:9095","kafka-2:9096"]
KAFKA_TOPIC=
KAFKA_CONSUMER_USERNAME=kafka-user
KAFKA_CONSUMER_PASSWORD=kafka-pass
KAFKA_CONSUMER_GROUP=group

JWT_PUBLIC_KEY="my_super_secret_key"

WORKER_EMAIL_SERVER_HOST=smtp.yandex.ru
WORKER_EMAIL_SERVER_PORT=465
WORKER_EMAIL_USER=sender_user
WORKER_EMAIL_PASSWORD=sender_password
WORKER_EMAIL_FROM_ADDR=sender_email
WORKER_MOCK_USER_ID=recepient_user_id
WORKER_MOCK_EMAIL_TO=recepient_email
